In [1]:
import pandas as pd
import numpy as np

In [2]:
pip install Faker

Requirement already satisfied: Faker in c:\users\shree\anaconda3\lib\site-packages (25.1.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\shree\anaconda3\lib\site-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\shree\anaconda3\lib\site-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [57]:
from faker import Faker
import pandas as pd
from tabulate import tabulate


# Create Faker instance
fake = Faker(locale='EN_IN')

# Generate fake data
Customers = {
    'customersID':[str(fake.random_number(digits=3)).zfill(3) for _ in range(501)],
    'Name': [fake.name() for _ in range(501)],
    'Address': [fake.address().replace('\n', ', ') for _ in range(501)],
    'Email': [fake.email() for _ in range(501)],
    'Phone Number': [fake.phone_number() for _ in range(501)],
    'Job': [fake.job() for _ in range(501)],
    'Company': [fake.company() for _ in range(501)]
}

# Convert to DataFrame
df = pd.DataFrame(Customers)

# Output the DataFrame
print(df)

    customersID             Name  \
0           419    Jhanvi Mannan
1           860    Gokul Khurana
2           546        Eva Dewan
3           807        Tiya Bose
4           182   Dharmajan Brar
..          ...              ...
496         209     Kimaya Sarin
497         205    Devansh Devan
498         444       Arnav Deep
499         980       Shlok Apte
500         349  Shray Varughese

                                          Address                       Email  \
0            63/02, Tandon Road, Alappuzha-359096  mehulvarughese@example.net
1            62/778, Ravel Nagar, Bhiwandi 845269             bde@example.net
2        59/369, Bhandari Marg, Chandigarh-764328            jsur@example.net
3               42, Hans Street, Ozhukarai-115749          urvi33@example.org
4            H.No. 615, Ram Ganj, Ludhiana 238585         abram82@example.net
..                                            ...                         ...
496                   15, Johal, Firozabad 928684      behlsamiha@example.net
497              870, Vasa Zila, Karaikudi-833821      chiragravi@example.net
498  H.No. 25, Thaman Road, Tadepalligudem 725955        wagleela@example.com
499      H.No. 380, Manne Road, Berhampore 586422       hridaan78@example.org
500               183, Doctor Chowk, Bhind 315073       ychandran@example.org

      Phone Number                               Job                Company
0       9681054520               Mechanical engineer            Halder-Arya
1       2853672317                Engineer, chemical              Batra-Vig
2       4707414196                    Health visitor              Sarin Ltd
3    +910863977490              Licensed conveyancer              Divan LLC
4    +919720196160                      Risk analyst           Basu-Iyengar
..             ...                               ...                    ...
496     4350290975                        Geochemist                Bir LLC
497  +918862711731      Garment/textile technologist             Keer-Koshy
498     2514443236                    Pilot, airline  Ram, Kadakia and Rout
499     0630782182              Intelligence analyst               Chad PLC
500     5026929334  Education officer, environmental         Upadhyay Group

[501 rows x 7 columns]

In [58]:
df.to_csv('Personal Details.csv', index=False)

In [59]:
from faker import Faker
import pandas as pd
import random
from datetime import datetime, timedelta

# Create Faker instance
fake = Faker()

# Generate fake sales data
Sale_data = {
    'Shipper_ID':[str(fake.random_number(digits=3)).zfill(3) for _ in range(1000)],
    'Product': [fake.random_element(elements=['Wrench','PVC pipes','Copper pipes','Galvanized steel pipes','PEX pipes','Couplings','Sinks','Toilets','Taps','Showers','Fauckets','Bathtub','Drain Cleaner', 'Drain Pipe','Water tanks','Gas Heater','Electric Heater']) for _ in range(1000)],
    'Sizes': [fake.random_element(elements=['2 inch' ,'4 inches', '6 inches','8 inches']) for _ in range(1000)],
    'Price': [round(random.uniform(10, 1000), 2) for _ in range(1000)],
    'Quantity': [random.randint(1, 100) for _ in range(1000)],
    'Date': [(datetime.now() - timedelta(days=random.randint(1, 365))).strftime('%Y-%m-%d') for _ in range(1000)]
}

# Convert to DataFrame
df = pd.DataFrame(Sale_data)

# Output the DataFrame
print(df)

    Shipper_ID        Product     Sizes   Price  Quantity        Date
0          386      PVC pipes  6 inches  934.96        71  2024-01-15
1          430      Couplings  8 inches  478.26        69  2023-12-17
2          714     Drain Pipe  4 inches  107.36        64  2023-08-23
3          298      PVC pipes  8 inches   84.17        68  2023-09-30
4          792         Wrench  6 inches  110.57        51  2024-04-25
..         ...            ...       ...     ...       ...         ...
995        024       Fauckets  6 inches  229.97         7  2024-04-10
996        102  Drain Cleaner    2 inch  616.27        79  2024-02-13
997        337       Fauckets    2 inch  862.84        18  2023-07-22
998        841     Drain Pipe  4 inches  150.20        15  2023-08-19
999        050           Taps    2 inch  345.57        64  2023-10-27

[1000 rows x 6 columns]

In [60]:
df.to_csv('Year on Year Sales.csv', index=False)

In [100]:
from faker import Faker
import pandas as pd
import random
from datetime import datetime, timedelta

# Create Faker instance
fake = Faker()

# Generate fake orders data
Orders = {
    'Order ID': [str(fake.random_number(digits=3)).zfill(3) for _ in range(1000)],
    'Product ID': [str(fake.random_number(digits=3)).zfill(3) for _ in range(1000)],
    'Customer ID': [str(fake.random_number(digits=3)).zfill(3) for _ in range(1000)],
    'Total_order_amount': [random.randint(1, 1000000) for _ in range(1000)],
    'Order Date': [(fake.date_between_dates('-3y','now') - timedelta(days=random.randint(1, 365))).strftime('%Y-%m-%d') for _ in range(1000)],
    'Shipper_ID':[str(fake.random_number(digits=3)).zfill(3) for _ in range(1000)],
}

# Convert to DataFrame
df = pd.DataFrame(Orders)

# Output the DataFrame
print(df)

    Order ID Product ID Customer ID  Total_order_amount  Order Date Shipper_ID
0        225        323         917              183345  2022-11-28        635
1        204        225         165              505000  2021-04-09        704
2        949        681         239              706857  2021-03-09        122
3        575        172         448              611548  2023-09-14        202
4        998        912         251              553424  2022-11-03        149
..       ...        ...         ...                 ...         ...        ...
995      674        407         063              202270  2022-01-30        284
996      145        692         225              176583  2021-05-01        184
997      102        651         608              405015  2023-12-29        224
998      398        507         177              513563  2021-09-15        467
999      110        366         341              725908  2021-05-25        797

[1000 rows x 6 columns]

In [101]:
df.to_csv('OrdersRK1.csv', index=False)

In [76]:
from faker import Faker
import pandas as pd

# Create Faker instance
fake = Faker()

# Generate category data
data = {
    'Category ID': [str(fake.random_number(digits=3)).zfill(2) for _ in range(10)],
    'Category Name': [fake.random_element(elements=['Pipes','Pipe Fittings','Fixatures','Cleaning','Drainage ','Water','Tools']) for _ in range(10)]
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Output the DataFrame
print(df)

  Category ID  Category Name
0         951       Cleaning
1         510      Fixatures
2         172      Fixatures
3         502          Pipes
4         428  Pipe Fittings
5         299          Pipes
6         929          Water
7          40          Water
8         776          Tools
9         629      Fixatures

In [77]:
df.to_csv('InventoryRK.csv', index=False)

In [73]:
from faker import Faker
import pandas as pd
import random

# Create Faker instance
fake = Faker()

# Generate fake Order_Details data
data = {
    'Order ID': [str(fake.random_number(digits=3)).zfill(3) for _ in range(500)],
    'Product ID': [str(fake.random_number(digits=3)).zfill(3) for _ in range(500)],
    'Quantity': [random.randint(1, 200) for _ in range(500)],
    'Unit Price': [round(random.uniform(10, 100), 2) for _ in range(500)]
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Output the DataFrame
print(df)

    Order ID Product ID  Quantity  Unit Price
0        918        723        47       40.11
1        800        505        30       64.28
2        756        991       101       94.66
3        269        027        59       56.21
4        677        080        79       94.17
..       ...        ...       ...         ...
495      448        199       135       92.29
496      062        142        22       11.92
497      656        716        64       96.54
498      023        986        87       66.46
499      651        049        76       29.37

[500 rows x 4 columns]

In [75]:
df.to_csv('orders recieved.csv', index=False)

In [70]:
from faker import Faker
import pandas as pd
import random
from datetime import datetime, timedelta

# Create Faker instance
fake = Faker()

# Generate fake Payments data
data = {
    'Payment ID': [str(fake.random_number(digits=3)).zfill(3) for _ in range(1000)],
    'Order ID': [str(fake.random_number(digits=3)).zfill(3) for _ in range(1000)],
    'Payment Type': [fake.random_element(elements=('Credit Card', 'Debit Card', 'PayPal', 'Cash','Cheque','RTGS','Bank Transfer','PhonePe','Google Pay')) for _ in range(1000)],
    'Payment Date': [(datetime.now() - timedelta(days=random.randint(1, 365))).strftime('%Y-%m-%d') for _ in range(1000)]
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Output the DataFrame
print(df)

    Payment ID Order ID Payment Type Payment Date
0          254      050  Credit Card   2023-07-04
1          517      263       Cheque   2023-11-04
2          830      436   Google Pay   2023-07-19
3          426      622  Credit Card   2023-09-29
4          301      107       Cheque   2024-02-10
..         ...      ...          ...          ...
995        472      045   Debit Card   2023-09-04
996        344      461       Cheque   2023-07-15
997        630      783  Credit Card   2024-05-09
998        896      456         Cash   2023-08-31
999        913      909       Cheque   2024-03-13

[1000 rows x 4 columns]

In [71]:
df.to_csv('AccountsRk.csv', index=False)

In [79]:
from faker import Faker
import pandas as pd

# Create Faker instance
fake = Faker()

# Generate fake Suppliers data
data = {
    'Supplier ID': [str(fake.random_number(digits=3)).zfill(3) for _ in range(500)],
    'Supplier Name': [fake.company() for _ in range(500)],
    'Postal Code': [fake.postalcode() for _ in range(500)],
    'City': [fake.city() for _ in range(500)],
    'Country': [fake.country() for _ in range(500)],
    'State': [fake.state() for _ in range(500)],
    'Email': [fake.email() for _ in range(500)],
    'Phone': [fake.phone_number() for _ in range(500)],
    'Shipper_ID':[str(fake.random_number(digits=3)).zfill(3) for _ in range(500)]
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Output the DataFrame
print(df)

    Supplier ID                      Supplier Name Postal Code  \
0           629                       Sanders-Dean       30808
1           149      Campbell, Ellison and Vincent       82230
2           083                          Oneal PLC       22960
3           585                         George LLC       95491
4           812                         Miller Ltd       56297
..          ...                                ...         ...
495         268                          Wyatt PLC       14343
496         033  Martinez, Mccormick and Rodriguez       53934
497         090                          Levy-Peck       26906
498         713                           Ward LLC       87616
499         176                      Davis-Sweeney       18298

                    City                       Country          State  \
0      West Jamesborough                      Pakistan        Vermont
1          New Jamesfurt                         Gabon         Hawaii
2    Port Elizabethshire                         Gabon  Massachusetts
3              Woodshire                        France    Connecticut
4              Millerton                      Dominica  New Hampshire
..                   ...                           ...            ...
495       Elizabethville                          Oman        Wyoming
496          Hunterburgh      Turks and Caicos Islands         Alaska
497        North Ryanton                         Haiti           Iowa
498         Mccoyborough                         Macao       Colorado
499         Benjaminbury  Svalbard & Jan Mayen Islands       Delaware

                           Email                 Phone Shipper_ID
0             rallen@example.org    393-551-8775x29781        067
1       anthonydavis@example.org     544-978-7719x0910        564
2       tblankenship@example.net  001-462-932-7059x619        183
3            david44@example.net          833-642-9033        324
4             nrubio@example.com          282.619.1780        658
..                           ...                   ...        ...
495          kharvey@example.org          602-627-6163        091
496        jasminfox@example.com          896-511-4884        127
497      morenosally@example.org  001-541-341-2955x787        630
498   priceelizabeth@example.net            6072907231        126
499  nataliegonzales@example.com          864-345-9131        205

[500 rows x 9 columns]

In [80]:
df.to_csv('shippersRK.csv', index=False)

In [98]:
import pandas as pd
from faker import Faker
import random

# Initialize Faker
fake = Faker()

# Generate fake product table
product_ids = [str(fake.random_number(digits=3)).zfill(3) for _ in range(21)]
Category_ID = [str(fake.random_number(digits=3)).zfill(2) for _ in range(21)]
products = [fake.random_element(elements=['PVC pipes', 'Copper pipes', 'Galvanized steel pipes', 'PEX pipes', 'Couplings', 'Sinks', 'Toilets', 'Taps', 'Showers', 'Fauckets', 'Bathtub', 'Drain Cleaner', 'Drain Pipe', 'Water tanks', 'Gas Heater', 'Electric Heater', 'Water meters', 'Wrench', 'Adjustable wrenches', 'Urinals']) for _ in range(21)]
categories = ['Pipes' if product in ['PVC pipes', 'Copper pipes', 'Galvanized steel pipes', 'PEX pipes'] else
                 'Fixtures' if product in ['Sinks', 'Toilets', 'Taps', 'Showers', 'Fauckets', 'Bathtub', 'Urinals'] else
                 'Heaters' if product in ['Gas Heater', 'Electric Heater', 'Water Heater'] else
                 'Pipe Fittings' if product == 'Couplings' else
                 'Drainage' if product in ['Drain Cleaner', 'Drain Pipe', 'Water tanks'] else
                 'Tools' if product in ['Wrench', 'Adjustable wrenches'] else
                 'Other' for product in products]
prices = [round(fake.random_number(digits=3), 2) for _ in range(21)]
stock_quantity = [fake.random_int(min=0, max=1000) for _ in range(21)]

# Convert to DataFrame
df = pd.DataFrame({
    'Product ID': product_ids,
    'Category ID': Category_ID,
    'Product': products,
    'Category': categories,
    'Price': prices,
    'Stock Quantity': stock_quantity
})

# Output the DataFrame
print(df)

   Product ID Category ID                 Product       Category  Price  \
0         121         420                   Sinks       Fixtures    104
1         242         435                  Wrench          Tools    437
2         630         994               PEX pipes          Pipes    403
3         407         159  Galvanized steel pipes          Pipes    877
4         079         313               PVC pipes          Pipes    886
5         963         780            Copper pipes          Pipes    715
6         066         758               Couplings  Pipe Fittings    320
7         716         826            Copper pipes          Pipes    498
8         582          65             Water tanks       Drainage    634
9         591         425                   Sinks       Fixtures    645
10        044         735                 Urinals       Fixtures    715
11        400         474                 Showers       Fixtures    838
12        039         621                 Toilets       Fixtures    600
13        415         261            Water meters          Other    974
14        563         497            Copper pipes          Pipes    606
15        894         420            Water meters          Other    203
16        805         972                    Taps       Fixtures     28
17        715         582                 Bathtub       Fixtures    107
18        386         540                 Bathtub       Fixtures    991
19        628         803               Couplings  Pipe Fittings    830
20        234         892  Galvanized steel pipes          Pipes    964

    Stock Quantity
0              742
1              245
2              715
3              383
4              107
5              306
6              815
7              890
8              143
9              509
10              89
11              70
12             655
13             686
14             619
15             323
16             896
17             628
18             775
19             391
20             287

In [99]:
df.to_csv('Products_RK2.csv', index=False)